@import '../../styles/variables.scss';

.container {
  width: calc(100% - #{$gutter});
  padding: 0;
  margin: #{$gutter / 2} auto;
  // border: solid 1px #ccc;
  display: block;
}

.layout {

  &-header {
    margin: 1rem 0;
  }
}

.backToHome {
  margin: 1.4rem 0 0;
}